---
import { siteConfig } from '../config';
import { getMenu } from '../data/menu';
import { t } from '../i18n/translations';
import { localeBaseWithSlash, localePath } from '../utils/locale';

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const menu = getMenu(lang);
const baseUrl = localeBaseWithSlash(lang);
const mainLinks = menu.filter((m) => !m.children || m.children.length === 0);
---

<footer>
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <a class="logo-footer" href={baseUrl}>
            <img class="img-fluid mb-4" src={siteConfig.logo} alt={siteConfig.title} width="405" height="200" />
          </a>
          <ul class="list-unstyled">
            <li class="mb-4" set:html={siteConfig.email}</li>
            <li class="mb-4" set:html={siteConfig.phone}</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">{t(lang, 'company')}</h4>
          <ul class="list-unstyled">
            {mainLinks.map((item) => (
              <li class="mb-3">
                <a class="text-color" href={localePath(lang, item.URL)}>
                  {item.name}
                </a>
              </li>
            ))}
            {lang === 'fr' && (
              <li class="mb-3">
                <a class="text-color" href={localePath(lang, 'pages/conditions-generales-de-vente')}>
                  Conditions générales de vente
                </a>
              </li>
              <li class="mb-3">
                <a class="text-color" href={localePath(lang, 'pages/mentions-legales')}>
                  Mentions Légales
                </a>
              </li>
            )}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0" set:html={siteConfig.copyright} />
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            {siteConfig.social.map((s) => (
              <li class="list-inline-item">
                <a class="d-inline-block p-2" href={s.link} aria-label={s.title}>
                  <i class={`${s.icon} text-primary`}></i>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{siteConfig.plugins.js.map((p) => (
  <script defer src={p.link}></script>
))}
<script is:inline>
  (function() {
    var preloader = document.querySelector('.preloader');
    if (preloader) preloader.classList.add('loaded');
  })();
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', function() {
      window.addEventListener('load', function() {
        var preloader = document.querySelector('.preloader');
        if (preloader) preloader.classList.add('loaded');
      });
      setTimeout(function() {
        var preloader = document.querySelector('.preloader');
        if (preloader) preloader.classList.add('loaded');
      }, 500);
    });
  } else {
    setTimeout(function() {
      var preloader = document.querySelector('.preloader');
      if (preloader) preloader.classList.add('loaded');
    }, 500);
  }
</script>
