---
import { siteConfig } from '../config';
import { localeBaseWithSlash } from '../utils/locale';

interface Props {
  title: string;
  description?: string;
  bgImage?: string;
  lang: string;
}

const { title, description, bgImage, lang } = Astro.props;
const baseUrl = localeBaseWithSlash(lang);
const bg = bgImage || '/images/backgrounds/page-title.jpg';
---

<section
  class="page-title-section overlay"
  style={`background-image: url('${bg}'), url('/images/backgrounds/page-title.jpg');`}
>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item h2">
            <a class="text-primary font-secondary" href={baseUrl}>
              {siteConfig.home}
            </a>
          </li>
          <li class="list-inline-item h5">
            <i class="ti-angle-right text-white"></i>
          </li>
          <li class="list-inline-item text-white h3 font-secondary">{title}</li>
        </ul>
        {description && <p class="text-lighten" set:html={description} />}
      </div>
    </div>
  </div>
</section>
