---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { t } from '../../../i18n/translations';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const paths = posts
    .filter((p) => !p.data.draft)
    .map((entry) => {
      const slugPart = entry.slug.includes('/') ? entry.slug.split('/')[1]! : entry.slug;
      return {
        params: { lang: entry.data.lang, slug: slugPart },
        props: { entry },
      };
    });
  return paths;
}

const { entry } = Astro.props;
const { lang } = Astro.params;
const post = entry;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  lang={lang!}
  isHome={false}
  pageTitle={post.data.title}
  pageDescription={post.data.description}
  bgImage={post.data.bg_image?.startsWith('/') ? post.data.bg_image : `/${post.data.bg_image ?? ''}`}
>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            {post.data.image && (
              <img
                class="img-fluid mb-4"
                src={post.data.image.startsWith('/') ? post.data.image : `/${post.data.image}`}
                alt={post.data.title}
              />
            )}
            <ul class="list-inline mb-3">
              <li class="list-inline-item mr-3 ml-0">
                <i class="ti-calendar"></i>{' '}
                {post.data.date.toLocaleDateString(lang === 'fr' ? 'fr-FR' : 'es-ES', {
                  day: '2-digit',
                  month: 'long',
                  year: 'numeric',
                })}
              </li>
              {post.data.author && (
                <li class="list-inline-item mr-3 ml-0">
                  <i class="ti-user"></i> {t(lang!, 'posted_by')} {post.data.author}
                </li>
              )}
            </ul>
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
